body {
  background: linear-gradient(
      to bottom,
      rgba(20, 33, 61, 0.9),
      rgba(20, 33, 61, 0.1)
    ),
    url("./images/main_page_background.jpg") center/cover no-repeat;
}
.whole {
  width: 100vw;
  height: 100vh;
  font-family: "Lobster", cursive;
}
.main_page_header {
  color: #ef233c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 20vh;
  font-size: 3rem;
}
.main_page_container {
  display: flex;
  height: 80vh;
  width: 95vw;
  align-items: center;
  justify-content: center;
}
.play_button {
  width: 20%;
  height: 20%;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 15px;
  border: 5px solid #457b9d;
}
.play_button:hover {
  background: #457b9d;
  border: 5px solid black;
  color: white;
}
@media screen and (max-width: 800px) {
  .main_page_header {
    font-size: 1.75rem;
    text-align: center;
  }
  .play_button {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .play_button {
    width: 50%;
  }
}
